<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Registration System</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='app.component.css'>
  <script src='main.js'></script>
</head>
<body>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmission()" #frm="ngForm">
      <span>Name</span><br>
      <input type="text" id="Name" formControlName="Name"><br/>
      <span *ngIf="nameRequiredError() && frm.submitted ">Please Name</span><br *ngIf="nameRequiredError() && frm.submitted"><br/>
      <span>ID Number</span><br>
      <input type="text" id="ID" formControlName="IDno"><br/>
      <span *ngIf="(idRequiredError() && idValidError() == true && frm.submitted) || (idRequiredError() && idValidError() == false && frm.submitted) ">Please enter ID number</span><br *ngIf="idRequiredError() && idValidError() == true&& frm.submitted || (idRequiredError() && idValidError() == false && frm.submitted)" >
      <span *ngIf="idRequiredError() == false && idValidError() && frm.submitted">Please enter a valid South African ID number</span><br *ngIf="idRequiredError() == false && idValidError() && frm.submitted"><br/>
      <span>OTP</span><br>
      <input type="text" id="OTP" formControlName="OTP"><br/>
      <span *ngIf="otpRequiredError() && frm.submitted">Please enter OTP</span><br *ngIf="otpRequiredError() && frm.submitted"><br>

      <button type="submit">Next</button>
    </form>
  </div>
  
</body>
</html>